<?xml version="1.0" encoding="utf-8"?>
<extension type="module" version="3.5" client="site" method="upgrade">
	<name><%=data.moduleName.uCase()%></name>
	<author><%=data.authorName%></author>
	<creationDate><%=data.creationDate%></creationDate>
	<copyright>Created by <%=data.authorName%> with generator-joomla3 by @diarcastro</copyright>
	<license><%=data.license%></license>
	<authorEmail><%=data.authorEmail%></authorEmail>
	<authorUrl><%=data.authorURL%></authorUrl>
	<version>1.0.0</version>
	<description><%=data.moduleName.uCase()%>_XML_DESCRIPTION</description>
	<files>
		<filename module="<%=data.moduleName%>"><%=data.moduleName%>.php</filename>
		<folder>tmpl</folder>
		<folder>fields</folder>
		<filename>helper.php</filename>
	</files>
	<languages>
		<language tag="en-GB">language/en-GB/en-GB.<%=data.moduleName%>.ini</language>
		<language tag="en-GB">language/en-GB/en-GB.<%=data.moduleName%>.sys.ini</language>
		<language tag="es-ES">language/es-ES/es-ES.<%=data.moduleName%>.ini</language>
		<language tag="es-ES">language/es-ES/es-ES.<%=data.moduleName%>.sys.ini</language>
	</languages>
	<help key="JHELP_EXTENSIONS_MODULE_MANAGER_<%=data.projectName.uCase()%>" />
	<config>
		<fields name="params">
			<fieldset name="basic" addfieldpath="/modules/<%=data.moduleName%>/fields">
			<% data.fields.forEach(function(field){%><field
					name="<%=field.name%>"
					type="<%=field.type%>"
					label="<%=data.moduleName.uCase()%>_FIELD_<%=field.name.uCase()%>_LABEL"
					description="<%=data.moduleName.uCase()%>_FIELD_<%=field.name.uCase()%>_DESC" />
			<%})%>
			</fieldset>
			<fieldset
				name="advanced">
				<field
					name="layout"
					type="modulelayout"
					label="JFIELD_ALT_LAYOUT_LABEL"
					description="JFIELD_ALT_MODULE_LAYOUT_DESC" />

				<field
					name="moduleclass_sfx"
					type="textarea" rows="3"
					label="COM_MODULES_FIELD_MODULECLASS_SFX_LABEL"
					description="COM_MODULES_FIELD_MODULECLASS_SFX_DESC" />

				<field
					name="cache"
					type="list"
					default="1"
					label="COM_MODULES_FIELD_CACHING_LABEL"
					description="COM_MODULES_FIELD_CACHING_DESC">
					<option
						value="1">JGLOBAL_USE_GLOBAL</option>
					<option
						value="0">COM_MODULES_FIELD_VALUE_NOCACHING</option>
				</field>

				<field
					name="cache_time"
					type="text"
					default="900"
					label="COM_MODULES_FIELD_CACHE_TIME_LABEL"
					description="COM_MODULES_FIELD_CACHE_TIME_DESC" />
			</fieldset>
		</fields>
	</config>
</extension>
