<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="test"
			type="text"
			label="<%=s(componentName).toUpperCase().value()%>_FIELD_CONFIG_TEST_LABEL"
			description="<%=s(componentName).toUpperCase().value()%>_FIELD_CONFIG_TEST_DESC" />
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="<%=componentName%>"
			section="component" />
	</fieldset>
</config>
